<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizManagementApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.QuizManagementApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InserirQuiz"
            android:exported="true"
            android:label="QuizManagementApp">
        </activity>
        <activity
            android:name=".InserirQuestao"
            android:exported="true"
            android:label="QuizManagementApp">
        </activity>
        <activity
            android:name=".ResolverQuestao"
            android:exported="true"
            android:label="QuizManagementApp">
        </activity>
        <activity
            android:name=".QuestaoSQL"
            android:exported="true"
            android:label="QuizManagementApp">
        </activity>
        <activity
            android:name=".QuizSQL"
            android:exported="true"
            android:label="QuizManagementApp">
        </activity>
        <activity
            android:name=".CriaDB"
            android:exported="true"
            android:label="QuizManagementApp">
        </activity>
        <activity
            android:name=".QuizAdapter"
            android:exported="true"
            android:label="QuizManagementApp">
        </activity>
        <activity
            android:name=".AlterarQuiz"
            android:exported="true"
            android:label="QuizManagementApp">
        </activity>
        <activity
            android:name=".ListaQuestoes"
            android:exported="true"
            android:label="QuizManagementApp">
        </activity>
        <activity
            android:name=".AlterarQuestao"
            android:exported="true"
            android:label="QuizManagementApp">
        </activity>
        <activity
            android:name=".ResolverQuiz"
            android:exported="true"
            android:label="QuizManagementApp">
        </activity>
        <activity
            android:name=".Detalhes"
            android:exported="true"
            android:label="QuizManagementApp">
        </activity>
    </application>

</manifest>